

.main-container {
    position: relative; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../images/login-bg.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    z-index: 1; 
}

.sub-container {
    position: relative; /* Ensure this is above the background */
    z-index: 2; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.signup-heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgb(10, 52, 77);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: fit-content;
    height: fit-content;
    padding:0 50px;
    margin-top:20px;
}

.input-container input{
    width: 320px ; 
    background-color: white ;  
    border-radius: 4px ;
    border:1px solid rgb(196, 196, 196);
    height: 40px;
    text-indent: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   
}


.input-container input:focus{
    outline: none;
}

.input-container input::placeholder {
    font-size:17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(142, 142, 142);
}

.sign-up-btn {
    background-color: rgb(0, 157, 219);
    color: white;
    width: 320px ;
    padding:10px 0;
    font-size :16px;
    border:none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.sign-up-btn:focus {
   background-color: rgb(3, 123, 171);
   outline: none;
   
}

.login-link{
   color:rgb(0, 97, 224);
   font-size:17px;
   margin-left:2px;
   font-weight: 500;
}











